:root {
  --white: #f9f5ff;
  --blue: #14248a;
  --light-purple: #d4c2fc;
  --dark-purple: #998fc7;
  --black: #28262c;
  --green: #c9d5b5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bod {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1000px;
  height: 700px;
  padding: 1em;
  display: flex;
  gap: 1em;
}

.col-left {
  flex: 2;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.col-right {
  flex: 1;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.row {
  flex: 1;
  border-radius: 2em;
}

.row1 {
  /* background-color: #d4c2fc; */
  background-color: var(--light-purple);
  box-shadow: 0px 5px 5px rgba(84, 94, 86, 0.5);
  display: flex;
}
.row2 {
  /* background-color: #d4c2fc; */
  background-color: var(--dark-purple);
  box-shadow: 0px 5px 5px rgba(84, 94, 86, 0.5);
}

.row3 {
  display: flex;
  border: none;
  gap: 1em;
}

.row-col {
  flex: 1;
  border-radius: 2em;
}

.top {
  background-color: var(--white);
  box-shadow: 0px 5px 5px rgba(84, 94, 86, 0.5);
}

.bottom {
  background-color: #e28413;
  box-shadow: 0px 5px 5px rgba(84, 94, 86, 0.5);
}

.left {
  background-color: #270722;
  box-shadow: 0px 5px 5px rgba(84, 94, 86, 0.5);
}

.right {
  background-color: #f7c59f;
  box-shadow: 0px 5px 5px rgba(84, 94, 86, 0.5);
}

.me {
  padding: 3em;
  color: #270722;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row2text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #270722;
  padding: 2em;
}

/* h1 {
  color: black;
} */
